<div class="sidebar">
    <div class="blur-img">
        <img src="assets/images/home-3-background-img-4.jpg" alt="">
    </div>
    <div class="content">
        <div class="logo"><img src="assets/images/logo.png" alt=""></div>
        <ul>
        <li class="active"><a href="#"><i data-feather="home"></i><span>Home</span></a></li>
        <li><a href="#"><i data-feather="clock"></i><span>History</span></a></li>
        <li><a href="#"><i data-feather="music"></i><span>My Music</span></a></li>
        <li><a href="#"><i data-feather="share-2"></i><span>Share</span></a></li>
        <li><a href="#"><i data-feather="settings"></i><span>Settings</span></a></li>
        </ul>
    </div>
</div>