//Set your custom variable

$primary:       #fadad9;
$primarydark:   #f1abae;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$dark:#000;
$white:#fff;
$bg-color:rgba(196, 196, 196, 0.16);
$yellow:#EED600;
$light-gray:#909090;
$light-text:#B7B7B7;
$pink:#EF2853;
$purple:#9E61BE;